[submodule "lib/buildtools"]
	path = lib/buildtools
	url = https://gitlab.com/N3X15/python-build-tools.git
[submodule "lib/valve"]
	path = lib/valve
	url = https://github.com/Holiverh/python-valve.git
[submodule "lib/SourceLib"]
	path = lib/SourceLib
	url = https://github.com/frostschutz/SourceLib.git
