[submodule "lib/buildtools"]
	path = lib/buildtools
	url = https://github.com/N3X15/python-build-tools.git
[submodule "lib/valve"]
	path = lib/valve
	url = https://github.com/Holiverh/python-valve.git
